* {
	font-family: 'Inter';
	box-sizing: border-box;
	margin: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	background-color: #2a74df;
	display: block;
	height: 50px;
	padding: 0px 0px 0px 20px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.header-container, .footer-container {
	display: inline-block;
	line-height: 50px;
}

.margined-link {
	margin-right: 20px;
}

.header-container a, .footer-container a {
	color: #e5e5e5;
	display: inline-block;
}

.link-header:hover {
	color: white;
}

.container {
	margin: 0 auto;
}

.banner {
	background-color: #2a74df;
	padding-top: 100px;
	
}

.banner-container {
	color: white;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	max-width: 1600px;
	text-align: left;
	width: 80%;
}

.banner-text {
	width: 65%;
	padding-bottom: 25px;
}

.banner-text h1 {
	font-size: 54px;
	vertical-align: top;
	margin-bottom: 10px;
	
}

.banner-text h2 {
	color: rgba(255, 255, 255, 0.85);
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 50px;
}

.banner-text p {
	font-size: 21px;
}

.smaller-photo {
	background-image: url(./Images/Pasfoto.png);
	background-repeat: no-repeat;
  	background-size: cover;
	background-position: -10px 0px;
	border-radius: 50%;
	display: none;
	width: 400px;
	height: 400px;
}

.my-photo {
	align-self: flex-end;
	width: 35%;
}

.experiences , .educations {
	background-color:  #0e274d;
	color: white;
}

.experiences {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 100px;
}

.experiences-container {
	margin: 0 auto;
	max-width: 800px;
	width: 80%;
}

.experiences > * {
	flex-grow: 1;
	padding: 50px;
	text-align: left;
}

.experiences > * h2, .educations > * h2 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}

.experiences> * p {
	font-size: 24px;
	font-weight: 500;
}

.text {
	margin-bottom: 30px;
}

.card-container {
	display: flex;
	margin: 0 auto;
	max-width: 80%;
}

.card {
	border-radius: 5%;
	margin: 0 auto;
	max-width: 250px;
	padding: 20px 30px;
	position: relative;
	transition: all 0.5s;
	text-align: center;
}

.card span {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.card:hover {
	background-color: #fafafa;
	color: black;
	box-shadow: 0px 5px #abacae; 
	top: -5px;
}

.card img {
	max-width: 100%;
	margin-bottom: 5px;
}

.card h4 {
	font-size: 24px;
	margin-bottom: 10px;
}

.card h5 {
	font-size: 20px;
	font-weight: 500;
}

.card p {
	font-size: 18px;
}

.educations {
	padding: 20px 0px;
}

.education-container {
	text-align: center;
	width: 80%;
	max-width: 800px;
}

.footer {
	background-color: #000;
	display: block;
	height: 50px;
	margin: 0px;
	padding-left: 20px;
}


.link-footer {
	color: #b1bbc1ff;
}

.link-footer:hover {
	color: white;
}

