* {
	font-family: 'Inter';
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	background-color: #273445ff;
	display: block;
	height: 50px;
	padding: 0px 0px 0px 20px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.hf-container {
	display: inline-block;
	line-height: 50px;
	/*border: solid 1px white;*/
}

.margined-link {
	margin-right: 20px;
}

.hf-container a {
	color: #b1bbc1ff;
	display: inline-block;
}

.link-header:hover {
	color: white;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.banner {
	background-color: black;
	color: white;
	padding: 100px 0px;
	text-align: center;
}

.banner h1 {
	font-size: 50px;
	margin-bottom: 10px;
}

.main {
	background-color: #f2f2f2ff;
	padding-top: 30px;
}
.section {
	padding: 15px 0px;
	text-align: center;
}

.st-container {
	display: block;
	margin-bottom: 20px;
	/*border: solid 1px black;*/
}

.about {
	display: block;
	margin: 0 auto;
}

.section-title {
	display: inline;
}

.st-container-2 {
	border-bottom: solid 1px #abacaeff;
	display: inline-block;
	padding-bottom: 5px;
}

.experiences {
	display: inline-block;
	margin: 0 auto;
	padding-top: 30px;
	/*border: solid 1px black;*/
}

.github {
	margin-right: 30px;
}

.experience {
	height: 100%;
	margin-bottom: 30px;
	width: 300px;
}

.experience p {
	text-align: center;
}

.card {
	border-radius: 15px;
	float: left;
	padding: 20px 30px 15px 30px;
	position: relative;
	transition: all 0.3s;
}

.card span {
	height:100%;
	width:100%;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.card:hover{
	background-color: white;
	box-shadow: 0px 5px #abacaeff;
	position: relative;
	top: -5px;
}

.clear {
	clear: left;
}

.github-wrapper {
	/*border: solid 1px black;*/
}

.projects {
	display: inline-block;
	/*max-width: 750px;*/
	margin: 0 auto;
	/*border: solid 1px black;*/
}

.project {
	height: 280px;
	margin-bottom: 30px;
	width: 300px;
}

.elementary-icon {
	margin: 0px 30px;
}

.screenrec {
	margin-right: 30px;
}

.smada {
	margin-right: 30px;
}

.school{
	font-size: 20px
}

.educations {
	display: inline-block;
	margin: 0 auto;
	padding-top: 30px;
	/*border: solid 1px black;*/
}

.education-wrapper {
	/* border: solid 3px black; */
}

.margined-education {
	margin-right: 30px;
}

.education {
	margin-bottom: 30px;
	width: 200px;
}

.footer {
	background-color: #273445ff;
	display: block;
	height: 50px;
	margin: 0px;
	padding-left: 20px;
}


.link-footer {
	color: #b1bbc1ff;
}

.link-footer:hover {
	color: white;
}
