@media (max-width: 1921px) {
	.experiences {
		padding-bottom: 0px;
	}
}

@media (max-width: 1585px) {
	.banner-text h1 {
		font-size: 44px;
 	}
	
 	.banner-text h2 {
 		font-size: 28px;
 	}
	
	.banner-text p {
		font-size: 16px;
	}
	
	.experiences > * h2, .educations > * h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}
	
	.experiences> * p {
		font-size: 20px;
	}
}

@media (max-width: 1400px) {
	
	.banner-container {
		width: 90%;
	}
}

@media (max-width: 1200px){
	.my-photo {
		display: none;
	}

	.smaller-photo {
		display: block;
		margin: 0 auto;
	}

	.banner-text {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	
	.experiences-container {
		width: 90%;
	}
}

@media (max-width: 1000px){
	
	.banner-text {
		margin-top: 25px;
		width: 80%;
	}
	
	.experiences-container {
		width: 100%;
		padding: 0px 20px;
	}
	
	.experiences > * {
		padding: 50px 25px;
	}
	
	.card-container {
		max-width: 100%;
	}
}

@media (max-width: 800px){
	header {
		text-align: center;
	}

	.smaller-photo {
		height: 300px;
		width: 300px;
	}

	.header-container {
		margin: 0 auto;
	}

	.experiences-container {
		width: 100%;
		padding: 0px 5px;
	}
	
	.experiences > * {
		padding: 50px 15px;
	}
}

@media (max-width: 670px){
	.smaller-photo {
		height: 270px;
		width: 270px;
	}
	
	.banner-text h1 {
		font-size: 36px;
 	}
	
 	.banner-text h2 {
 		font-size: 24px;
 	}
	
	.banner-text p {
		font-size: 16px;
	}

	.card-container {
		box-sizing: border-box;
		display: block;
		padding: 0px 20px;
		width: 100%;
	}

	.card {
		margin-top: 40px;
		width: 100%;
	}

	.card {
		border-radius: 15px;
	}

	.footer {
		padding-left: 0px;
		text-align: center;
	}

	.footer-container {
		display: inline-block;
	}

	.margined-link {
		margin-right: 50px;
	}
}

@media(max-width: 620px) {
	.link-header-container {
		display: none;
	}

	.header-container {
		width: 100%;
		text-align: left;
	}

	.burger-menu-button {
		display: inline-block;
		border: solid 1px black;
	}

	.burger-menu-button i {
		line-height: 50px;
	}
}