body {
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.what-am-i {
  @apply text-[2em] bg-transparent transition-colors delay-[0]

}

.what-am-i > * {
  @apply text-[2em] bg-transparent transition-colors delay-[0]
}

.bottom-container > * {
 @apply mx-auto my-0
}


@tailwind base;
@tailwind components;
@tailwind utilities;